@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #6f36ff;
}
.wrapper {
  top: 50%;
  left: 50%;
  position: absolute;
  background: #fff;
  width: 450px;
  border-radius: 10px;
  transform: translate(-50%, -50%) scale(1.4);
}
.wrapper header {
  font-size: 23px;
  font-size: 500;
  padding: 17px 30px;
  color: #6f36ff;
  border-bottom: 1px solid #bfbfbf;
}
.wrapper header.active {
  cursor: move;
  user-select: none;
}
.wrapper .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 30px 40px;
}
.content .icon {
  height: 95px;
  width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 5px solid #6f36ff;
}
.content .icon i {
  color: #6f36ff;
  font-size: 60px;
}
.content .title {
  font-size: 29px;
  font-weight: 500;
  margin: 15px 0;
}
.content p {
  font-size: 16px;
  text-align: center;
}
